.chat-content {
    height:30em;
    width: 50%;
    border: 1px solid black;
    margin:2em 0 2em 0;
    align-items: center;
    position: absolute;
    right:25%;
    overflow: scroll;
}

.chat-functunality {
    text-align: center;
    margin-top: -2em;
}
